body {
}
body {
}
nav {
    width: 420px;
}

#container2 {
    width: 420px;
    margin: 0px auto;
    background:#ffd800;
}

#left-column2 {
    width: 420px;
    float: left;
    background: #ff006e;
    border-radius:25px;
}

#right-column2 {
    width: 420px;
    float: left;
    background: #b200ff;
    border-radius:25px;
    
}

@media screen and (max-width:1900px) {
    #container2 {
        width: 100%;
    }

    #left-column2 {
        width: 100%;
     
    }
    #right-column2 {
    width: 100%;
    background: #4800ff;
}
}
#header {
    width:100%;
}
#pic1 {
    display:none;
}
#pic2 {
    width:100%
}
#pic3 {
    width:100%;
}
#banner2 {
    width:100%;
}
#buttons {
    list-style:none;
    text-align: center;
    
}

    #buttons li a {
        float: left;
        display: block;
        background-color: #4800ff;
        border: 1px solid #0094ff;
        width: 110px;
        margin: 5px;
        text-decoration: none;
        /*box-shadow: 5px 10px #808080;*/
        border-radius: 20%;
    }
    #ibody {
        width:200px;
        height:420px;
        background: #000000;
        border: 2px solid #808080;
        border-radius:32px;
    }