
body {
    background-color: lightgrey;
}

#container {
    width:960px;
    margin: 0px auto;
}
#leftcolumn {
    width:700px;
    float: left;
    background-color: blue;
}
#rightcolumn {
    width: 260px;
    float: left;
    background-color: orange;
}


