
body {
    background-color: lightgrey;
}

#container {
    width: 960px;
    margin: 0px auto;
}

#leftcolumn {
    width: 700px;
    float: left;
    background-color: blue;
}

#rightcolumn {
    width: 260px;
    float: left;
    background-color: orange;
}


@media screen and (max-width:959px) {
    
    #container {
        width: 100%;
        
    }
    #leftcolumn {
        width:70%;
        background-color: #b6ff00;
      
    }
    #rightcolumn {
        width:30%;
    }
    img {
        width:100%;
    }
}
@media screen and (max-width:320px) {
    
    #container {
        width: 100%;
        
    }
    #leftcolumn {
        display: none;
      
    }
    #rightcolumn {
        width:30%;
    }
    img {
        width:100%;
    }
}